// Define variables for your color scheme

// For example:
$red: #EF233C;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #8D99AE;
$light-gray: #EDF2F4;
$dark-blue: #2B2D42;
